body{
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.pathway-gothic-one-regular p, ul{
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  width: 95%;
  max-width: 2000px;
  height: 2000px;
  margin: 0px auto;
  padding: 2em;
}

.image-woman {
  width: 300px;
}

.image-rottenmango {
  width: 300px;
}

.video-embed {
  width: 25%;
  height: 175px;
  border: palevioletred;
}

.image-forensic{
  width: 300px;
}

img:hover {
  opacity: 0.5;
}

h1, h2, h3 {
  font-family: monospace;
}

p {
  margin: 0.625em;
}

p {
  color: brown;
}

ul {
  color: darkblue
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #990101;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  color: snow;
  padding: 0.875em 1em;
  text-decoration: none;
}


nav ul li a:hover {
  background-color: #990101;
}
#fluid-container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

